.idea
.ftpquota
.idea/*
node_modules
wp-config.php
wp-content/uploads/wc-logs/*
robots.txt
.ftpquota
.log-product_data
# Project exclude paths
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/types/type-defs/cart.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/types/type-defs/contexts.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/types/type-defs/hooks.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/types/type-defs/shipping.js
# Project exclude paths
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/atomic/blocks/product-elements/category-list/attributes.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/atomic/blocks/product-elements/category-list/block.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/atomic/blocks/product-elements/category-list/constants.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/atomic/blocks/product-elements/category-list/edit.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/atomic/blocks/product-elements/category-list/index.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/atomic/blocks/product-elements/shared/config.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/atomic/blocks/product-elements/title/attributes.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/atomic/blocks/product-elements/title/block.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/atomic/blocks/product-elements/title/constants.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/atomic/blocks/product-elements/title/edit.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/atomic/blocks/product-elements/title/frontend.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/atomic/blocks/product-elements/title/index.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/atomic/utils/render-parent-block.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/base/components/block-error-boundary/block-error.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/base/components/block-error-boundary/index.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/base/components/button/index.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/base/components/cart-checkout/address-form/index.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/base/components/cart-checkout/form-step/index.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/base/components/cart-checkout/order-summary/index.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/base/components/cart-checkout/order-summary/order-summary-item.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/base/components/cart-checkout/payment-method-icons/common-icons.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/base/components/cart-checkout/payment-method-icons/index.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/base/components/cart-checkout/payment-method-icons/payment-method-icon.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/base/components/cart-checkout/payment-method-icons/utils.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/base/components/cart-checkout/payment-method-label/index.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/base/components/cart-checkout/place-order-button/index.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/base/components/cart-checkout/policies/index.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/base/components/cart-checkout/product-backorder-badge/index.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/base/components/cart-checkout/product-badge/index.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/base/components/cart-checkout/product-image/index.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/base/components/cart-checkout/product-low-stock-badge/index.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/base/components/cart-checkout/product-metadata/index.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/base/components/cart-checkout/product-sale-badge/index.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/base/components/cart-checkout/product-summary/index.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/base/components/cart-checkout/return-to-cart-button/index.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/base/components/cart-checkout/shipping-calculator/address.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/base/components/cart-checkout/shipping-calculator/index.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/base/components/cart-checkout/shipping-location/index.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/base/components/cart-checkout/shipping-rates-control/index.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/base/components/cart-checkout/totals/index.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/base/components/checkbox-list/index.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/base/components/chip/chip.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/base/components/chip/index.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/base/components/chip/removable-chip.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/base/components/country-input/stories/countries-filler.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/base/components/country-input/stories/index.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/base/components/country-input/billing-country-input.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/base/components/country-input/country-input.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/base/components/country-input/index.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/base/components/country-input/shipping-country-input.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/base/components/formatted-monetary-amount/index.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/base/components/label/index.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/base/components/price-slider/stories/index.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/base/components/price-slider/constrain-range-slider-values.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/base/components/price-slider/index.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/base/components/product-price/stories/index.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/base/components/product-price/index.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/base/components/quantity-selector/stories/index.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/base/components/quantity-selector/index.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/base/components/radio-control/option-layout.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/base/components/read-more/stories/index.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/base/components/read-more/test/index.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/base/components/read-more/index.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/base/components/read-more/utils.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/base/components/state-input/billing-state-input.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/base/components/state-input/index.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/base/components/state-input/shipping-state-input.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/base/components/state-input/state-input.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/base/components/summary/index.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/base/components/text-input/index.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/base/context/index.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/base/hocs/with-scroll-to-top/index.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/base/hooks/use-container-queries.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/base/hooks/use-previous.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/base/hooks/use-shallow-equal.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/base/hooks/use-throw-error.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/base/utils/address.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/base/utils/legacy-events.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/base/utils/render-frontend.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/blocks-registry/payment-methods/assertions.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/blocks-registry/payment-methods/express-payment-method-config.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/blocks-registry/payment-methods/index.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/blocks-registry/payment-methods/payment-method-config.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/blocks-registry/payment-methods/registry.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/data/cart/action-types.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/data/cart/actions.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/data/cart/constants.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/data/cart/index.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/data/cart/reducers.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/data/cart/resolvers.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/data/cart/selectors.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/data/constants.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/data/default-states.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/data/index.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/data/shared-controls.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/editor-components/error-placeholder/error-message.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/editor-components/error-placeholder/index.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/hocs/with-searched-products.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/icons/icon/index.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/icons/library/arrow-back.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/icons/library/arrow-down-alt2.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/icons/library/atom.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/icons/library/bank.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/icons/library/barcode.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/icons/library/bill.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/icons/library/bookmark.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/icons/library/box.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/icons/library/card.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/icons/library/cart.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/icons/library/check-payment.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/icons/library/chevron-down.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/icons/library/chevron-up.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/icons/library/comment.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/icons/library/discussion.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/icons/library/done.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/icons/library/exclamation.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/icons/library/external.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/icons/library/folder.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/icons/library/folder-starred.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/icons/library/grid.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/icons/library/heading.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/icons/library/image.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/icons/library/list.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/icons/library/more.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/icons/library/no-alt.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/icons/library/notes.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/icons/library/notice.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/icons/library/radio-selected.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/icons/library/radio-unselected.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/icons/library/reader.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/icons/library/remove-cart.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/icons/library/restore.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/icons/library/review.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/icons/library/search.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/icons/library/server.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/icons/library/star.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/icons/library/stonks.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/icons/library/tag.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/icons/library/tags.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/icons/library/thumb-up.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/icons/library/toggle.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/icons/library/truck.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/icons/library/widgets.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/icons/library/woo.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/icons/stories/index.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/previews/cart.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/previews/shipping-rates.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/settings/blocks/constants.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/settings/blocks/feature-flags.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/settings/blocks/index.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/settings/shared/default-constants.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/settings/shared/index.js
/wp-content/plugins/woocommerce/packages/woocommerce-blocks/assets/js/settings/shared/settings-init.js