.category-menu {
  flex-shrink: 0;
  width: 270px;
  margin-right: 16px;
  background-color: #eef5f7;
  filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.15));
  max-height: 830px;

  @include desktop {
    width: 320px;
    margin-right: 30px;
  }

  > .category-menu__list {
    margin-top: 4px;
    margin-bottom: 26px;
    padding-left: 9px;
    padding-right: 12px;

    @include desktop {
      padding-left: 11px;
      padding-right: 22px;
    }

    > .category-menu__item {
      font-weight: bold;
      line-height: 20px;
      text-transform: uppercase;
      padding-bottom: 0;

      > a {
        padding-bottom: 11px;
        padding-top: 9px;
        padding-left: 12px;
        border-bottom: 1px solid #9baaae;

        @include desktop {
          padding-left: 22px;
        }
      }

      &.is-active {
        a {
          &:before {
            left: 0;
            top: calc(50% - 4px);

            @include desktop {
              left: 6px;
            }
          }
        }
      }

      > .category-menu__list {
        border-bottom: 1px solid #9baaae;
        padding-top: 10px;
        padding-bottom: 18px;

        & > .category-menu__item {
          padding-bottom: 2px;
          line-height: 27px;
          text-transform: uppercase;
        }
      }
    }
  }

  &__list {
    list-style-type: none;
    padding: 0;
    padding-left: 13px;
    padding-top: 14px;
    margin: 0;

    .category-menu__item {
      padding-bottom: 10px;
      font-weight: 600;
      font-size: 15px;
      line-height: 22px;

      letter-spacing: -0.04em;
      text-transform: capitalize;
      color: $text-color;
    }
  }

  &__item {
    &.is-active {
      > a {
        position: relative;

        &::before {
          content: "";
          display: block;
          width: 6px;
          height: 6px;
          position: absolute;
          left: -14px;
          top: calc(50% - 3px);

          background: #ec3c24;
          border-radius: 50%;
        }
      }
    }
  }

  &__link {
    display: block;

    &:hover {
      color: #becdd1;
    }
  }
}
