
.slick{

  &-slide{
    outline: none;
  }

  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 10px;

    @include tablets {
      align-items: flex-start;
      padding-left: 50px;
      padding-bottom: 20px;
    }
    @include desktop {
      padding-left: 147px;
    }
  }

  &-arrow {
    position: absolute;
    background-color: transparent;
    border: none;
    outline: none;
    z-index: 10;
    border-top: 2px solid $text-color;
    border-right: 2px solid $text-color;
    top: calc(50% - 12px);
    width: 12px;
    height: 12px;
    padding: 0;
  }

  &-next {
    right: 5px;
    transform: rotate(45deg);
  }

  &-prev {
    left: 5px;
    transform: rotate(225deg);
  }

}